body {
    position: relative;
}
.indent {
    padding-left: 1.8em;
}
.affix {
    top: 0px;
    z-index: 9999 !important;
}
div.col-sm-9 div {
    height: 250px;
    font-size: 16px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 20;
    width: 15%;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}
.header-list *{
    background-color: #f1f1f1;
}
.main-content {
    padding-left: 10%;
    background-color: #r1r1r1;
}

.main-content h3 {
    font-size: 24px;
}

.project {
    background-color: #97b296;
    height: 500px;
    margin: 10px 10px;
    width: 320px;
    float: left;
}
